*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

#check, .checkbtn
{
    display: none;
}

#hamb
{
    font-size: 30px;
}

#nav-resp
{
    text-decoration: none;

}

@media (max-width:768px)
{
    .checkbtn
    {
        display: block;
    }

    #header
    {
        display: block;
        background: rgb(155, 238, 0);
        height: 50px;
    }

    header #hamb
    {
        display: block;
        position: fixed;
        top: 5px;
        right: 20px;
        cursor: pointer;
    }

    #nav-resp
    {
        display: block;
        position: fixed;
        top: 70px;
        left: -100%; /*al poner 100% o -100% lo oculto, probar con left o right*/
        background: rgb(155, 238, 0);
        width: 100%;
        height: 100vh; /* para verlo en toda la pantalla*/
        /*z-index: 0; /*preferencia de posicion mas arriba, opcional o probar*/
        /*cuando left: -100%; esta activado, este right lo hacer aparecer otra ves, pero
        luego hay que activar el left para probar transition */
        right: 0;
    }

    #nav-resp li
    {
        padding:  2rem;
        display: flex;
        justify-content: center;

    }

    #check:checked ~  #nav-resp
    {
        left: 0;

    }
}